<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 homepage_content">
    <h2>About</h2>
    <hr>
    <p>I am a Full Stack Web Developer living in Atlanta, Georgia
      I have recently completed the Web Development Immersive @ General Assembly.
    <p>While at general assembly I learned a lot about Javascript, HTML with CSS3,
      then complete MEAN stack with Angular 1, along with Ruby, and Ruby on Rails
      with Postgres Database.</p>
    <p>I am constantly working on honing my skills and
      increasing my programming knowledge for hours a day. I strive to be
      the best developer that I can be and love to learn more.
      Feel free to follow me on my github account I am constantly sharing code
      there or follow my Instagram and Facebook to see what crazy things I post throughout the day.</p>
  </div>
  <div class="col-2 about homepage_content">
    <h2>Articles</h2>
    <hr>
    <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></h3>
        <p class="date"><%= post .created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Projects I've worked on</h2>
    <hr>
    <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
</div>